#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

# ------------
# Tests to run
# ------------

# For special usecases, sometimes you need to setup other things on the machine
# prior to installing the app (such as installing another app)
# (Remove this key entirely if not needed)
preinstall = """
    sudo yunohost tools update apps
    sudo yunohost domain add matrix.domain.tld
    domain=matrix.domain.tld
    server_name=$domain
    sudo yunohost app install https://github.com/YunoHost-Apps/synapse_ynh -a "domain=$domain&init_main_permission=all_users&server_name=$server_name&is_free_registration=false" --force
    """

# -------------------------------
# Default args to use for install
# -------------------------------

# By default, the CI will automagically fill the 'standard' args
# such as domain, path, admin, is_public and password with relevant values
# and also install args with a "default" provided in the manifest..
# It should only make sense to declare custom args here for args with no default values

args.botadmin = "@johndoe:server.name"
args.botusers = "server.name"

# -------------------------------
# Commits to test upgrade from
# -------------------------------

# This is an additional test suite
[multiple_botusers]

preinstall = """
    sudo yunohost tools update apps
    sudo yunohost domain add matrix.domain.tld
    domain=matrix.domain.tld
    server_name=$domain
    sudo yunohost app install https://github.com/YunoHost-Apps/synapse_ynh -a "domain=$domain&init_main_permission=all_users&server_name=$server_name&is_free_registration=false" --force
    """

# On additional tests suites, you can decide to run only specific tests

only = ["install.subdir"]

args.botadmin = "@johndoe:server.name"
args.botusers = "@john:server.name,@jdoe:server.name,@janedoe:server.name"
