[Unit]
Description=Matrix Whatsapp bridge
After=matrix-synapse.service

[Service]
Type=simple
User=mautrix-__APP__
WorkingDirectory=/opt/yunohost/mautrix-__APP__
ExecStartPre=/opt/yunohost/mmautrix-__APP__/mautrix-whatsapp --config-path=/opt/yunohost/mmautrix-__APP__/config.yaml --config-path=/etc/matrix-synapse/homeserver.yaml --generate-keys
ExecStart=/opt/yunohost/mautrix-__APP__/mautrix-whatsapp --config-path=/opt/yunohost/mmautrix-__APP__/config.yaml --config-path=/etc/matrix-synapse/homeserver.yaml
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
