[Unit]
Description=Matrix-Whatsapp Bridge
After=matrix-synapse.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=/opt/yunohost/__APP__
ExecStart=/opt/yunohost/__APP__/mautrix-whatsapp -c=/opt/yunohost/__APP__/config.yaml >> /var/log/__APP__/__APP__.log 2>&1
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
